body {
    color: black;
    background: blanchedalmond;
    margin: 0px;
    font-family: "Edu VIC WA NT Beginner", cursive;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color: black;
}

.chamada {
    background: rgb(244, 142, 181);
    padding-bottom: 60px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }

  img {
    height: 200px; 
  }

  .categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
    padding-top: 20px;
    padding-right: 20px;
}

.categoria-videos img {
  opacity: 0.5;
   
}

.categoria-videos img:hover{
  opacity: 1.0;
  border: 3px solid palevioletred
}

.categoria h2 {
   color: brown;
}